<% include ../partials/header.ejs %>
<div>
    <% if(logged_in){ %>
    <p>Welcome back <%= fullName %></p>
    <a href="/logout">logout</a>
    <% }else { %>
    <p>Welcome new visitor!</p>
    <a href="/sign">sign</a>
    <a href="/login">login</a>
    <% } %>
</div>
<% include ../partials/footer.ejs %>
