<% include ../partials/header.ejs %>
<div>
    <form>
        <fieldset>
            <p>
                <label>email</label>
                <input type="email" name="user[email]">
            </p>
            <p>
                <label>password</label>
                <input type="password" name="user[password]">
            </p>
            <button>login</button>
        </fieldset>
    </form>
    <a href="/">go back</a>
</div>
<% include ../partials/footer.ejs %>

