<% include ../partials/header.ejs %>
<div>
    <hr>
    <h2>书名:<%= name %></h2>
    <% if(reader.length > 0){ %>
    <ul>
        <% reader.forEach(function (person) { %>
        <li><a href="/personResult?person=<%= encodeURIComponent(person.name) %>"><%= person.name %></a></li>
        <% }) %>
    </ul>
    <% }else { %>
    <h5>没有找到读者</h5>
    <% }%>
</div>
<% include ../partials/footer.ejs %>
