<% include ../partials/header.ejs %>
<div>
    <form method="get" enctype="application/x-www-form-urlencoded" action="/bookResult">
        <fieldset>
            <p>
                <label>book</label>
                <input type="text" name="book">
            </p>
            <button>submit</button>
        </fieldset>
    </form>
    <a href="/">go back</a>
</div>
<% include ../partials/footer.ejs %>
