<% include ../partials/header.ejs %>
<div>
    <hr>
    <h2>读者:<%= name %></h2>
    <% if(books.length > 0){ %>
    <ul>
        <% books.forEach(function (book) { %>
        <li><a href="/bookResult?book=<%= encodeURIComponent(book.name) %>"><%= book.name %></a></li>
        <% }) %>
    </ul>
    <% }else { %>
    <h5>没有找到书籍</h5>
    <% }%>

</div>
<% include ../partials/footer.ejs %>
